* {
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: fontRegular;
  src: url('../font/Poppins-Regular.ttf');
}
@font-face {
  font-family: fontbold;
  src: url('../font/Poppins-Bold.ttf');
}
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 100%;
  padding: 80px;
  background-color: rgb(206, 230, 205);
}
.links .link {
  color: rgb(114, 117, 116);
  word-spacing: 10px;
  font-size: 15px;
  font-family: fontRegular;
}
.invite {
  background-color: #2d314d;
  color: white;
  text-transform: capitalize;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
}
.invite:hover {
  background-color: rgb(36, 192, 101);
}
.main-head {
  display: flex;
  justify-content: space-between;
}
.main-head .heading,
.descriotion {
  font-family: fontRegular;
  font-size: 45px;
  margin-bottom: 20px;
  color: #2d314d;
}
.main-head .descriotion {
  color: rgb(114, 117, 116);
  font-size: 13px;
}
.img .mobile {
  width: 650px;
  height: 700px;
}
.body {
  background-color: #f4f5f7;
  padding: 15px;
}
.question {
  padding: 20px 500px 0px 0px;
}
.question .heading {
  font-family: fontRegular;
  font-size: 33px;
  margin-bottom: 20px;
  color: #2d314d;
}
.question .descriotion {
  font-size: 13px;
  color: rgb(114, 117, 116);
}
.reasons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.the-reason {
  padding: 20px 20px 20px 0px;
}
.the-reason .way {
  font-family: fontRegular;
  font-size: 25px;
  margin-bottom: 10px;
  color: #23253a;
}
.the-reason .details {
  color: rgb(114, 117, 116);
  font-size: 13px;
  font-family: fontRegular;
}
.last-article {
  display: flex;
  justify-content: space-between;
}
.Writings {
  padding: 20px 20px 20px 0px;
}
.Writings .photo {
  margin-bottom: 15px;
}
.Writings .writer {
  color: rgb(114, 117, 116);
  font-size: 11px;
  margin-bottom: 10px;
  font-family: fontRegular;
  text-transform: capitalize;
}
.Writings .advantage {
  font-family: fontRegular;
  font-size: 17px;
  margin-bottom: 10px;
  color: black;
  margin-bottom: 10px;
}
.Writings .explain {
  color: rgb(114, 117, 116);
  font-size: 13px;
  font-family: fontRegular;
}
.footr {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #23253a;
}
.icons {
  color: white;
  margin-top: 30px;
}
.extintions {
  color: white;
  font-family: fontRegular;
  text-transform: capitalize;
  display: flex;
}
.ref {
  color: #707070;
  font-family: fontRegular;
}
.but-end {
  color: white;
  background-color: rgb(36, 192, 101);
  text-transform: capitalize;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  margin-bottom: 15px;
}
